/* Default Color File  */


/* Background */
.home_1 .btn-style-one,
.home_1 .default-video-box a:after,
.home_1 .sec-title .text-decoration:before,
.home_1 .sec-title .text-decoration .left:before,
.home_1 .sec-title .text-decoration .left:after,
.home_1 .sec-title .text-decoration .right:before,
.home_1 .sec-title .text-decoration .right:after,
.home_1 .preloader-close,
.home_1 .feature-block-one .link-btn a,
.home_1 .bootstrap-select .dropdown-menu li a.active,
.home_1 .pricing-block.active .lower-content h5,
.home_1 .pricing-block.active .lower-content h5:before,
.home_1 .pricing-block.active .lower-content h5:after,
.home_1 .main-header .sidemenu-nav-toggler,
.home_1 .about-section .text-block:before,
.home_1 .feature-block-one .image .icon:before,
.home_1 .news-block-one .inner-box:before,
.home_1 .main-header .header-top .text span,
.home_1 .case-block-one .overlay:after,
.home_1 .footer-bottom .social-links li a:before,
.home_1 .news-block-one .category,
.home_1 .testimonial-section .testimonial-content,
.home_1 .map-section .contact-info,
.home_1 .case-block-one .read-more-btn a,
.home_1 .nav-outer .mobile-nav-toggler,
.home_1 .mobile-menu .menu-backdrop,
.home_1 .fact-counter .count-box,
.home_1 .main-footer .links-widget ul li a:before,
.home_1 .main-footer .links-widget ul li a:after,
.home_1 .feature-block-three .read-more-link:before,
.home_1 .about-section-two .read-more-link:before,
.home_1 .projects-section .nav-tabs .nav-link.active:after,
.home_1 .projects-section .nav-tabs li .nav-link:before,
.home_1 .service-block-one:hover .icon .icon-inner,
.home_1 .service-block-one .read-more-link:before,
.home_1 .testimonial-block-three .quote,
.home_1 .process-block-two .icon,
.home_1 .funfacts-section-two .icon-box,
.home_1 .funfacts-section-two p:before,
.home_1 .news-block-two .inner-box:hover .category,
.home_1 .news-block-two .read-more-link:before,
.home_1 .contact-section .read-more-link:before,
.home_1 .subscribe-newsletter,
.home_1 .subscribe-newsletter:before,
.home_1 .subscribe-newsletter:after,
.home_1 .feature-block-four .inner-box:before,
.home_1 .sec-title h5,
.home_1 .team-block-two .inner-box:hover .video-btn a,
.home_1 .fact-counter-three .count-box,
.home_1 .experience-section .experience-year,
.home_1 .news-block-three .inner-box:hover .category,
.home_1 .banner-section.style-four .btn-style-one .btn-title:before,
.home_1 .banner-section.style-four .swiper-pagination .swiper-pagination-bullet:hover:before,
.home_1 .banner-section.style-four .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before,
.home_1 .feature-block-five .read-more-link,
.home_1 .service-block-three .overlay-content .icon-box .icon,
.home_1 .projects-section-two .owl-theme .owl-nav .owl-next:hover::after,
.home_1 .projects-section-two .owl-theme .owl-nav .owl-prev:hover::after,
.home_1 .process-block-three .inner-box:hover .icon,
.home_1 .process-section-three .consult-btn,
.home_1 .testimonial-section-five:before,
.home_1 .news-block-five .category,
.home_1 .news-block-five .inner-box::after,
.home_1 .news-block-five:before,
.home_1 .news-block-five:after,
.home_1 .pricing-section .ribbon,
.home_1 .pricing-block.style-two .lower-content h5,
.home_1 .pricing-block.style-two .lower-content h5:before,
.home_1 .pricing-block.style-two .lower-content h5:after,
.home_1 .pricing-block.style-two.active .top-content,
.home_1 .subscribe-newsletter-three .form-group button:hover,
.home_1 .about-widget-two .social-links li a:before,
.home_1 .banner-section-two .btn-style-one .btn-title::before,
.home_1 .service-block-four .icon-box h4:before,
.home_1 .whay-choose-block .inner-box:hover .icon span,
.home_1 .page-title .content-box:before,
.home_1 .contact-section.style-two .subscribe-newsletter .form-group button.btn-style-four,
.home_1 .product-block-one .inner-box .image-box .category,
.home_1 .product-block-one .right-option:hover,
.home_1 .widget_filter-price .range-slider .theme-btn,
.home_1 .widget_filter-price .ui-state-default:before,
.home_1 .widget_filter-price .ui-widget-content .ui-state-default:before,
.home_1 .cart-section .apply-coupon .form-group button:hover,
.home_1 .cart-section .btn-box .cart-btn:hover,
.home_1 .product-tab-box .tab-btns .tab-btn span:before,
.home_1 .filter-tabs.filter-btns li:before,
.home_1 .project-block-five .link-btn a,
.home_1 .project-block-six .link-btn a,
.home_1 .project-block-seven .inner-box,
.home_1 .testimonial-section-six .pointer-block .content .logo,
.home_1 .testimonial-section-six .pointer-block:hover .point:after,
.home_1 .award-section-two .owl-nav .owl-next:hover:before,
.home_1 .award-section-two .owl-nav .owl-prev:hover:before,
.home_1 .subscribe-widget .social-links li a:before,
.home_1 .service-block-six .overlay:before,
.home_1 .service-block-six .overlay a,
.home_1 .testimonial-block-six .inner-box:hover .logo,
.home_1 .cta-section-two.style-two:before,
.home_1 .testimonial-section-seven .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.home_1 .testimonial-section-seven .swiper-pagination .swiper-pagination-bullet:hover,
.home_1 .team-block-four .social-links-wrapper:hover .icon,
.home_1 .news-block-six .social-links-wrapper:hover .icon,
.home_1 .widget_tag_cloud ul li a:hover,
.home_1 .blog-single-post ul.tag li a:hover,
.home_1 .blog-single-post .author-box .social-links li a:before,
.home_1 .timeline li.current:after,
.home_1 .services-details .tab-btn-style-one li .nav-link.active,
.home_1 .services-details .tab-btn-style-one li a:hover,
.home_1 .pricing-block-three h4:before,
.home_1 .pricing-block-three .ribbon:before,
.home_1 .pricing-block-three .ribbon,
.home_1 .single-team-member .social-links-wrapper:hover .icon,
.home_1 .testimonial-block:before,
.home_1 .contact-details-section-three .pointer-block .point:after,
.home_1 .contact-details-section-three .pointer-block:hover .point:after,
.home_1 .about-section-six .experience-years-block .text,
.home_1 .about-section-seven .image-block .video-box,
.home_1 .timeline-block .theme-btn,
.home_1 .experience-section-two .progress-levels .progress-box.animated .bar .bar-fill:before,
.home_1 .experience-section-two .progress-levels .progress-box.animated .bar .bar-fill:after,
.home_1 .features-section-six .video-box .image:before,
.home_1 .testimonial-block-seven .logo,

.home_1 .shopping-cart .count,
.home_1 .header-top.style-two,
.home_1 .scroll-to-top,
.home_1 .banner-section .owl-theme .owl-nav button:hover:before,
.home_1 .search-popup .search-form fieldset input[type="submit"],
.home_1 .btn-style-two .btn-title:before {
    background-color: #fd4a36;
}

.home_1 .why-choose-us-section .single-feature-item:hover:before,
.home_1 .btn-style-two,
.home_1 .default-video-box a,
.home_1 .about-section .text-block h5,
.home_1 .about-section .author-info h5,
.home_1 .feature-block-one .content h5,
.home_1 .process-block-one h5,
.home_1 .news-section .swiper-button-next:hover,
.home_1 .news-section .swiper-button-prev:hover,
.home_1 .news-block-one .read-more-btn a:hover,
.home_1 .testimonial-section .swiper-button-next:hover,
.home_1 .testimonial-section .swiper-button-prev:hover,
.home_1 .pricing-section .pricing-btn ul li a.active,
.home_1 .pricing-block .lower-content ul li i,
.home_1 .case-block-one .overlay .link-btn a,
.home_1 .news-block-one .read-more-btn a i,
.home_1 .news-section .left-column li i,
.home_1 .main-menu .navigation>li>ul>li:hover>a,
.home_1 .main-menu .navigation>li>ul>li>ul>li:hover>a,
.home_1 .news-section .left-column form .form-group i,
.home_1 .main-header .header-top .language span,
.home_1 .why-choose-us-section .nav-tabs .nav-link.active:before,
.home_1 .main-header .header-top .contact-info li i,
.home_1 .footer-bottom .scroll-to-top,
.home_1 .footer-bottom .copyright a,
.home_1 .banner-carousel .default-video-box a,
.home_1 .feature-block-three .icon,
.home_1 .about-section-two .read-more-link,
.home_1 .about-section-two .content-block h4,
.home_1 .about-section-two .curved-circle .char11,
.home_1 .about-section-two .curved-circle .char12,
.home_1 .projects-section .nav-tabs-wrapper .link-btn a,
.home_1 .project-block .link-btn a,
.home_1 .service-block-one .icon .icon-inner,
.home_1 .service-block-one .read-more-link,
.home_1 .btn-style-five,
.home_1 .team-block-one ul li span,
.home_1 .testimonial-block-three .rating,
.home_1 .funfacts-section-two p,
.home_1 .news-block-two .post-meta li a,
.home_1 .testimonial-block-three .author-box h4,
.home_1 .contact-section .author-box h4,
.home_1 .contact-section .subscribe-newsletter .form-group i,
.home_1 .footer-bottom-two .menu li a:hover,
.home_1 .header-top-two .text i,
.home_1 .header-top-two .text span,
.home_1 .banner-section.style-three .banner-carousel .content-box h2 span,
.home_1 .banner-section.style-three .banner-carousel .content-box h3,
.home_1 .team-block-two .designation,
.home_1 .experience-section .icon-box .icon,
.home_1 .case-block-three .read-more-link,
.home_1 .cases-section-two .bottom-text a,
.home_1 .service-block-two .theme-btn:hover .btn-title,
.home_1 .testimonial-block-four .author-title span,
.home_1 .testimonial-block-four .rating,
.home_1 .testimonial-section-four .owl-nav .owl-prev:hover:before,
.home_1 .testimonial-section-four .owl-nav .owl-next:hover:before,
.home_1 .award-section .bottom-text a,
.home_1 .news-block-three .post-meta li a,
.home_1 .news-block-three .inner-box:hover .read-more-link,
.home_1 .news-section-three .read-more-post,
.home_1 .meet-up-section .content-box ul li a i,
.home_1 .meet-up-section .content-box h3,
.home_1 .subscribe-newsletter-two .form-group button,
.home_1 .twitter-widget .text a,
.home_1 .twitter-widget p a,
.home_1 .footer-bottom-three .copyright-text a,
.home_1 .footer-bottom-three .bottom-area ul li a:hover,
.home_1 .header-top.style-four .top-right .text i,
.home_1 .header-top.style-four .top-right .text span,
.home_1 .main-header.header-style-three .btn-style-one:hover .btn-title,
.home_1 .header-upper .social-links li a:hover,
.home_1 .banner-section.style-four .banner-carousel .content-box .text .video-btn,
.home_1 .service-block-three .read-more-link:hover,
.home_1 .accordion-box .block .acc-btn.active .icon-outer,
.home_1 .faq-section .mail,
.home_1 .faq-section .author-box h4,
.home_1 .testimonial-block-five .text,
.home_1 .testimonial-block-five .rating,
.home_1 .subscribe-newsletter-three .form-group i,
.home_1 .subscribe-newsletter-three h5,
.home_1 .main-footer.style-four .post-widget .date,
.home_1 .about-widget-two .text,
.home_1 .footer-bottom-two .scroll-to-top-two,
.home_1 .feature-block-six .inner-box:hover .read-more-link,
.home_1 .faq-section-two .text a,
.home_1 .pagination li a:hover,
.home_1 .pagination li a.active,
.home_1 .product-block-one .inner-box .lower-content p,
.home_1 .product-block-one .inner-box .lower-content .rating li,
.home_1 .widget_popular-products .post-inner .post .rating li,
.home_1 .widget_categories .categories-list li a:hover,
.home_1 .widget_categories .categories-list li a span,
.home_1 .single-shop-content .content-box .review-box ul li i,
.home_1 .single-shop-content .content-box .qity .stock-available,
.home_1 .product-tab-box .tab-btns .tab-btn.active-btn span,
.home_1 .product-tab-box .tab-btns .tab-btn:hover span,
.home_1 .review-box-holder .single-review-box .text-holder .top .review-box ul li i,
.home_1 .product-tab-box .review-form .add-rating-box .review-box ul li i,
.home_1 .product-tab-box .owl-nav .owl-prev:hover:before,
.home_1 .product-tab-box .owl-nav .owl-next:hover:before,
.home_1 .filter-tabs.filter-btns li span.count,
.home_1 .filter-tabs.filter-btns li.active,
.home_1 .project-details .project-info .social-links li a:hover,
.home_1 .service-block-five .inner-box:hover .icon,
.home_1 .main-footer.style-five .links-widget ul li a:hover,
.home_1 .career-block .theme-btn .btn-title,
.home_1 .testimonial-block-six.style-two .rating,
.home_1 .testimonial-block-six.style-two .inner-box:hover .quote,
.home_1 .testimonial-block-six .author-box .designation,
.home_1 .team-block-three .social-links li a:hover,
.home_1 .team-block-four .social-links li a:hover,
.home_1 .team-block-four .designation,
.home_1 .contact-info-block h5,
.home_1 .news-block-six .social-links li a:hover,
.home_1 .widget_popular_post .post .post-info,
.home_1 .page-title-two .category,
.home_1 .comments-area .comment-box .reply-comment-btn:hover,
.home_1 .widget_brochur h5,
.home_1 .services-details .list li i,
.home_1 .pricing-block-three .price,
.home_1 .pricing-block-three.popular .btn-style-two .btn-title,
.home_1 .about-section-six .whay-choose-block .icon span,
.home_1 .about-section-seven .author-info h5,
.home_1 .timeline-block .date,
.home_1 .testimonial-block-seven .author-box span,
.home_1 .contact-form-section .btn-style-one:hover .btn-title,
.home_1 .why-choose-us-section-three .whay-choose-block .icon span,
.home_1 .testimonial-section-eleven .client-block .content h5,
.home_1 .experience-section-two .counter-column a,
.home_1 .experience-section-two .wrapper-box h2,
.home_1 .feature-block-three .read-more-link:after,
.home_1 .features-section-six .whay-choose-block .icon span,
.home_1 .main-menu .navigation>li:hover>a,
.home_1 .main-menu .navigation>li.current>a,
.home_1 .navbar-right-info .faq-btn a span,
.home_1 .link-btn a,
.main-header .header-top .text a,
.about-section-seven .phone-number a,
.home_1 .sec-title h4,
.home_1 a {
    color: #fd4a36;
}



.home_1 .main-menu .navigation>li>ul>li>ul,
.home_1 .main-menu .navigation>li>ul,
.home_1 .projects-section .nav-tabs .nav-link.active:after,
.home_1 .service-block-one:hover .icon,
.home_1 .btn-style-five,
.home_1 .team-block-two .video-btn:before,
.home_1 .team-block-two .inner-box:hover .video-btn a,
.home_1 .team-block-two .inner-box:hover .content:before,
.home_1 .testimonial-section-four .owl-nav .owl-prev:hover:before,
.home_1 .testimonial-section-four .owl-nav .owl-next:hover:before,
.home_1 .header-middle .btn-style-one,
.home_1 .banner-section.style-four .banner-carousel .content-box .text .video-btn,
.home_1 .banner-section.style-four .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.home_1 .banner-section.style-four .swiper-pagination .swiper-pagination-bullet:hover,
.home_1 .news-block-five .inner-box,
.home_1 .project-block-two .text,
.home_1 .subscribe-newsletter-three .form-group button:hover,
.home_1 .feature-block-six .inner-box:before,
.home_1 .service-block-four .overlay:after,
.home_1 .service-block-four .overlay:before,
.home_1 .whay-choose-block .inner-box:hover .icon span,
.home_1 .widget_filter-price .ui-state-default,
.home_1 .widget_filter-price .ui-widget-content .ui-state-default,
.home_1 .filter-tabs.filter-btns li span.count,
.home_1 .team-block-four .author-title,
.home_1 .award-section-three .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.home_1 .award-section-three .swiper-pagination .swiper-pagination-bullet:hover,
.home_1 .contact-info-block-two .inner-box:before,
.home_1 .news-block-six .social-links-wrapper:hover .icon,
.home_1 .news-block-six .social-links li a:hover,
.home_1 .contact-details-section-three .pointer-block .point,
.home_1 .progress-levels .progress-box .bar .bar-fill,
.home_1 .testimonial-section-eleven .client-block:hover .thumb,
.home_1 .testimonial-section-eleven .client-block:hover .thumb:before,

.home_1 .about-section .logo {
    border-color: #fd4a36;
}

.home_1 .accordion-box.style-two .block .acc-btn.active,
.home_1 .accordion-box.style-three .block .acc-btn.active {
    border-left-color: #fd4a36;
}

.home_1 .contact-widget .social-links li a:before,
.home_1 .banner-section.style-two .owl-theme .owl-nav button:before,
.home_1 .cta-section-two h2 span,
.home_1 .cta-section-two .contact-info .icon,
.home_1 .btn-style-four {
    background-image: -moz-linear-gradient(0deg, rgb(253, 74, 54) 16%, rgb(255, 131, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(253, 74, 54) 16%, rgb(255, 131, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(253, 74, 54) 16%, rgb(255, 131, 0) 100%);
}